.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../images/homepage.jpg");
  background-size: cover;
  background-position: center center;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.banner-info {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
  text-align: center;
  line-height: 5.5rem;
}

.banner-info h1 {
  position: relative;
  font-size: 3.8rem;
  color: #fff;
  font-family: sans-serif;
}

.banner-info h2 {
  position: relative;
  font-size: 2.4rem;
  color: #fff;
  font-family: Times-New-Roman;
}

.banner-info Button {
  margin: 50px;
  border-radius: 10px;
  padding: 10px 60px;
  font-size: 20px;
  cursor: pointer;
}

#footer {
  font-size: 14px;
  color: rgba(255, 255, 255, .6);
  background: #313131;
  background: -moz-linear-gradient(top, #555555 0%, #313131 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a1d2b), color-stop(100%, #313131));
  background: -webkit-linear-gradient(top, #555555 0%, #313131 100%);
  background: -o-linear-gradient(top, #555555 0%, #313131 100%);
  background: -ms-linear-gradient(top, #555555 0%, #313131 100%);
  background: linear-gradient(to bottom, #555555 0%, #313131 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#313131', GradientType=0);
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-success {
  color: #02b700 !important;
}

.fa-check:before {
  content: "\f00c";
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
.i.ico-lg {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 45px;
}

.i.ico-light {
  border: transparent;
  background-color: rgba(0, 0, 0, .05);
}

.i.ico-rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
*/