.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../images/homepage.jpg");
  background-size: cover;
  background-position: center center;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.banner-info {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
  text-align: center;
  line-height: 5.5rem;
}

.banner-info h1 {
  position: relative;
  font-size: 3.8rem;
  color: #fff;
  font-family: sans-serif;
}

.banner-info h2 {
  position: relative;
  font-size: 2.4rem;
  color: #fff;
  font-family: Times-New-Roman;
}

.banner-info Button {
  margin: 50px;
  border-radius: 10px;
  padding: 10px 60px;
  font-size: 20px;
  cursor: pointer;
}

/*
.i.ico-lg {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 45px;
}

.i.ico-light {
  border: transparent;
  background-color: rgba(0, 0, 0, .05);
}

.i.ico-rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
*/